<p align="center">
  <span style="display: inline-block; width: 30%; border-top: 2px solid #1bbfed; vertical-align: middle;"></span>
  <img src="../logo/belengexplogo.png" alt="Innersource Logo" style="width:20%; vertical-align: middle; margin: 0 10px;" />
  <span style="display: inline-block; width: 30%; border-top: 2px solid #1bbfed; vertical-align: middle;"></span>
</p> 

# 📊 Contributor Leaderboard (Updated Daily, Last 30 Days)

Below is a summary of the total commits for each contributor in the last 30 days 🚀

| Contributor  | Commits ✅ | 
|-------------| --------|{% for handle, count in results.items() %}
| [{{ handle }}](https://github.com/{{ handle }}) | {{ count }} | {% endfor %}

----

| Contributor  | Commits ✅ | Cross  repo commits 🆘 |
|-------------| --------| --------|{% for handle, count in results.items() %}
| [{{ handle }}](https://github.com/{{ handle }}) | {{ count }} | {{ cross_repo_commits[handle] }} | {% endfor %}

## 🏆 Leaderboard: Top 5 Contributors 

| Rank | Contributor | Commits ✅ |
|------|-------------|---------|{% for handle, count in top5.items() %}
| {{ loop.index }} | [{{ handle }}](https://github.com/{{ handle }}) | {{ count }} |{% endfor %}

----

**Last updated**: {{ generated_on }}
