<p align="center">
  <span style="display: inline-block; width: 30%; border-top: 2px solid #1bbfed; vertical-align: middle;"></span>
  <img src="logo/belengexplogo.png" alt="Innersource Logo" style="width:20%; vertical-align: middle; margin: 0 10px;" />
  <span style="display: inline-block; width: 30%; border-top: 2px solid #1bbfed; vertical-align: middle;"></span>
</p> 

# BeLux Engineering Experience
One platform for all your architure and engineering needs. 

BeLux Engineering Experience is a platform that provides a comprehensive set of resources for architects and engineers. 

[![Submit your repo here](https://img.shields.io/badge/Submit%20your%20repo%20here📂-<-blue)](https://github.com/BeLux-Engineering-Experience/home/issues/new?template=onboard_repo.yml)

[![Check the leaderboard here!](https://img.shields.io/badge/Check%20the%20leaderboard%20here🏆-<-yellow)](https://github.com/BeLux-Engineering-Experience/home/tree/main/activity-dashboard)

## Workload Overviews

{% for display_name, rel_link in workload_links %}
- [{{ display_name }} repositories]({{ rel_link }})
{% endfor %}

----

## Contributing
We welcome contributions to the BeLux Engineering Experience. If you have a repository you would like to reference here, please open an issue using the `🧑‍💻 Onboard my repository` template.

If you are new to Git, GitHub, or VS Code, we have a step-by-step tutorial to help you get started. See [the getting started guide](./.github/CONTRIBUTING_beginner.md) for detailed instructions.

**Last updated**: {{ last_generated }}
