# BeLux Engineering Experience.
One platform for all your architure and engineering needs. 

BeLux Engineering Experience is a platform that provides a comprehensive set of resources for architects and engineers. 

{% set possible_solution_areas = ['application-innovation', 'infrastructure', 'security', 'data-ai' ] %}

{% for solution_area_id, solution_area_display_name in solution_area_mapping.items() %}
{% set solaRepos = repos | selectattr(solution_area_id) | list %}
## {{ solution_area_display_name }} repositories
| Repository Title | Repository URL | Description | 
|------------------|----------------|-------------|{% for repo in solaRepos %}
| {{ repo.title }} | [{{ repo.url }}]({{ repo.url }}) | {{ repo.description }} | {% endfor %}
{% endfor %}

----

## Activity dashboard

----
## All repositories
| Repository Title | Repository URL | Description | 
|------------------|----------------|-------------|{% for repo in repos %}
| {{ repo.title }} | [{{ repo.url }}]({{ repo.url }}) | {{ repo.description }} |{% endfor %}

## Contributing
We welcome contributions to the BeLux Engineering Experience. If you have a repository you would like to reference here, please, open an issue using the `🧑‍💻 Onboard my repository` template.

**Last updated**: {{ last_generated }}